@model List<DataAccessLibrary.Models.SalaModel>

@{
    ViewBag.Title = "Gestión de Salas";
}

<h2>Gestión de Salas</h2>

<p>
    @Html.ActionLink("Crear Nueva Sala", "Create", "Sala", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Capacidad</th>
            <th>Disponibilidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var sala in Model)
        {
            <tr>
                <td>@sala.ID</td>
                <td>@sala.Nombre</td>
                <td>@sala.Capacidad</td>
                <td>@(sala.Disponibilidad ? "Disponible" : "No Disponible")</td>
                <td class="grid gap-3">
                    <span>
                        @Html.ActionLink("Editar", "Edit", new { id = sala.ID }, new { @class = "btn btn-warning btn-sm" })

                    </span>
                    <span>
                        @Html.ActionLink("Eliminar", "Delete", new { id = sala.ID }, new { @class = "btn btn-danger btn-sm" })

                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
